

p, b {
  font-size: 1.5rem;
  line-height: 2rem;
}


.fixed-top {
  background-color: #fff
  opacity: 0.1;
}

@font-face {
  font-family: 'Schoolgirls';
  src: url('fonts/Schoolgirls.otf');
}
@font-face {
  font-family: 'Stars';
  src: url('fonts/Stars-Regular.ttf');
}
@font-face {
  font-family: 'Fulbo';
  src: url('fonts/fulbo-argenta.otf');
}

.article-heading {
  font-family: 'DM Serif Display', serif;
  color: black;
  font-size: 7rem;
  padding: 13% 0% 0%;
}

body {
  line-height: 0.8rem;
  font-family: 'Schoolgirls';
}

.issue-1 {
 font-family: 'Schoolgirls';
}

.article-title {
 text-align: center;
 padding: 0% 0% 5%;
 text-transform: uppercase;
   font-family: 'Fulbo';
}

.article-title h1 {
  font-size: 450%;
}

.article-paragraph {
 padding: 0% 13% 0%;
}

.article-section {
  padding: 10% 0 10%;
}

.fire-sign {
  color: #FF9ED4;
}
.earth-sign {
  color: #80E17A;
}
.water-sign {
  color: #8DB5FF;
}
.air-sign {
  color: #D9ABFF;
}

.goodbye-note {
  font-family: 'DM Serif Display', serif;
  font-style: italic;
  text-align: center;
  font-size: 5rem;
}

.small-note {
  font-size: 3rem;
}



#lauriscopes {
  background-color: black;
  color: white;
}

#lauriscopes h1 {
   font-family: 'Stars';
   font-size: 500%;
}


#title {
  padding-bottom: 3%;
}

#australia-day {
  background-color: #F5E5EE;
}

#school-captain-advice {
  background-color: #CCECF7;
}

#australia-day {
  background-color: #F5E5EE;
}

#letter-from-the-editors {
  background-color: #ffffff;
}
